html {
  font-size: 14px;
}
.btn-transition, .button-wrapper a:hover {
  transition: all 100ms linear;
}
.inside {
  max-width: 1148px;
  padding: 90px 50px;
  margin: 0 auto;
}
.hero {
/*   background-image: url("../images/cover.jpg"); */
  background-color: #0059ab;
  background-position: center bottom;
  background-size: cover;
  width: 100%;
  height: 800px;
  position: relative;
  z-index: 0;
}

.hero::after {
  background: radial-gradient(circle, #0059ab 20%, #272727 100%);
  top:0; 
  left:0; 
  position: absolute; 
  background-size: 100%; 
  opacity: 0.9; 
  z-index:-1; 
  content:""; 
  width:100%; 
  height:100%;
}

.hero .inside {
  height: 100%;
  padding-top: 0;
}
.hero .logo {
  position: absolute;
  top: 40px;
  left: 60px;
}
.hero-caption {
  width: 100%;
  text-align: center;
  color: #fff;
  padding-top: 190px;
}
.hero-caption h2 {
  font-size: 2.625rem;
  margin-bottom: 28px;
  font-weight: 400;
}
.hero-caption .sub-title {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 68px;
  line-height: 1.2;
}
.hero-caption .sub-title .conf-title {
  font-size: 5rem;
  font-weight: bold;
}
.hero-caption .sub-title .conf-full-title {
  font-size: 2.4rem;
}
.hero-caption .sub-title .conf-desc {
  font-size: 3.2rem;
  font-weight: 100;
  margin: 60px auto;
}
.hero-caption .sub-title .conf-desc span {
  font-weight: bold;
}
.hero-caption .sub-title .date, .hero-caption .sub-title .place {
  font-size: 2.2rem;
}
.hero-caption .info {
  line-height: 1.3;
  margin-bottom: 65px;
}
.hero-caption .info .when {
  font-size: 1.56rem;
  display: block;
}
.hero-caption .info .where {
  font-size: 1.25rem;
}
.hero-caption .candy-red {
  color: #e62240;
}
.hero-caption .candy-blue {
  color: #0059ab;
}
.about-a {
  text-align: left;
  position: relative;
  background-image: url("../images/bg-01-slice.png");
  background-position: 100% 0;
  background-size: auto 100%;
  background-repeat: no-repeat;
}
.about-a .quote {
  color: #888;
  font-size: 1.875rem;
  line-height: 1.4;
  font-weight: 400;
  margin-bottom: 80px;
  font-style: italic;
}
.about-a .quote span {
  display: block;
  margin-top: 10px;
}
.about-a .inside {
  padding: 120px;
  font-size: 1.5rem;
}
.about-a.intro .inside{
  padding-top: 120px;
  padding-bottom: 120px;
}
.about-a.intro .inside .sub-title {
  font-size: 1.8rem;
  margin-bottom: 16px;
  color: #0059ab;
  font-weight: bold;
}
.about-a .inside .myth{
  margin-bottom: 60px;
  line-height: 2.3rem;
}
.about-a .inside .fact{
  line-height: 2.3rem;
}
.checklist {
  margin: 0 auto 80px auto;
}
.checklist li {
  width: 100%;
  margin-bottom: 30px;
  text-align: left;
  font-size: 1.5rem;
  color: #000;
  line-height: 1.3;
}
.checklist li i {
  color: #0059ab;
  margin-right: 10px;
}
.checklist li span {
  background-color: #fff;
}
.checklist .title {
  margin-bottom: 15px;
}
.checklist .content {
  font-size: 1.3rem;
  word-break: keep-all;
}
.about-left-bg {
  text-align: right;
  font-size: 1.5rem;
  background-image: url("../images/bg-04.png");
  background-position: 0% 0;
  line-height: 1.6;
  background-size: cover;
}
.about-left-bg .inside {
  padding: 130px 120px;
}
.about-left-bg p:first-child {
  margin-bottom: 20px;
}

.target {
  text-align: left;
  position: relative;
  background-image: url(../images/bg-05.png);
  background-position: 100% 0;
  background-size: auto 100%;
  background-repeat: no-repeat;
  font-size: 1.5rem;
  line-height: 1.6;
}

.target .inside {
  padding: 90px 120px;
}

.target.v2 {
  background-image: none;
}

.target.v2 .inside {
  background-image: url(../images/nayami.png);
  background-repeat: no-repeat;
  background-position: 90% 50%;
}

.target .inside .title {
  margin-bottom: 4px;
  font-size: 2rem;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 500;
}

.target .inside .description {
  font-size: 1.3rem;
  margin-bottom: 20px;
  color: #919191;
}


.target .inside .list li {
  position: relative;
  font-size: 1.5rem;
  padding: 4px 0px 4px 24px;
}

.target .inside .list li::before {
  display: inline-block;
  content: "";
  vertical-align: middle;
  position: absolute;
  top: 16px;
  left: 0;
  width: 12px;
  height: 12px;
  border: 2px solid #0059ab;
  border-radius: 9px;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
}

.keynote {
  background-color: #fff;
  color: #666;
}
.keynote .inside {
  padding: 100px 50px 0px;
}
.keynote .row {
  margin-bottom: 55px;
}
.keynote .row:last-of-type {
  margin-bottom: 0;
}
.keynote .sub-title {
  text-align: center;
  font-size: 1.875rem;
  margin-bottom: 110px;
}
.keynote .photo {
  float: left;
  margin-right: 50px;
  margin-bottom: 60px;
}
.keynote .photo img {
  width: 160px;
  height: 160px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.keynote .photo:first-child {
  margin-bottom: 100px;
}
.keynote .over {
  margin-bottom: 80px;
}
.keynote .speaker {
  font-size: 1.43rem;
  font-weight: bold;
}
.keynote .company {
  font-size: 1.43rem;
  font-weight: 300;
}
.keynote strong {
  font-weight: bold;
}
.keynote .hyphen {
  font-size: 1.375rem;
  color: #0059ab;
}
.keynote .speaker-about {
  word-break: keep-all;
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 1.5;
  margin-top: 22px;
}
.keynote .speaker-about a {
  color: #0059ab;
}
.keynote .mention {
  font-weight: bold;
  margin-bottom: 22px;
  font-size: 1.562rem;
}

.speakers {
  background-color: #fff;
  color: #666;
}
.speakers .row {
  margin-bottom: 55px;
}
.speakers .row:last-of-type {
  margin-bottom: 0;
}
.speakers .sub-title {
  text-align: center;
  font-size: 1.875rem;
  margin-bottom: 110px;
}
.speakers .photo {
  float: left;
  margin-right: 50px;
  margin-bottom: 60px;
}
.speakers .photo img {
  width: 160px;
  height: 160px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.speakers .photo:first-child {
  margin-bottom: 100px;
}
.speakers .over {
  margin-bottom: 80px;
}
.speakers .speaker {
  font-size: 1.43rem;
  font-weight: bold;
}
.speakers .company {
  font-size: 1.43rem;
  font-weight: 300;
}
.speakers strong {
  font-weight: bold;
}
.speakers .hyphen {
  font-size: 1.375rem;
  color: #0059ab;
}
.speakers .speaker-about {
  word-break: keep-all;
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 1.5;
  margin-top: 22px;
}
.speakers .speaker-about a {
  color: #0059ab;
}
.speakers .mention {
  font-weight: bold;
  margin-bottom: 22px;
  font-size: 1.562rem;
}
.section-title {
  text-align: center;
  margin-bottom: 60px;
  font-size: 2.375rem;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 500;
}
.section-title:after {
  width: 66px;
  height: 8px;
  background-color: #0059ab;
  content: "";
  display: block;
  margin: 23px auto 0 auto;
}
.schedule .row {
  border-left: 1px solid #c3c4c3;
  padding-left: 40px;
  padding-bottom: 80px;
  min-height: 140px;
  color: #000;
  font-weight: 400;
  position: relative;
}
.schedule .row:before {
  content: "";
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #0059ab;
  border-radius: 50%;
  top: 0;
  left: -5px;
}
.schedule .row:last-of-type {
  border-left: none;
  min-height: 0;
  padding-bottom: 50px;
}
.schedule .session-time {
  font-size: 1.625rem;
  margin-bottom: 15px;
}
.schedule .session-title {
  font-size: 1.625rem;
  margin-bottom: 35px;
}
.schedule .session-desc {
  font-size: 1.4rem;
  color: #727272;
  line-height: 1.3;
  margin-bottom: 25px;
}
.schedule .session-desc span {
  display: block;
}
.schedule .session-speaker {
  font-size: 1.3rem;
  color: #0059ab;
}
.schedule strong {
  font-weight: bold;
}
.schedule h4 {
  color: #797979;
  font-size: 1rem;
}
.schedule h4 span {
  color: #0059ab;
}
.registration {
/*   background-image: url("../images/bg-03.png"); */
/*   background-size: cover; */
/*   background-attachment: fixed; */
  background: radial-gradient(circle, #1d1d1d 20%, #212121 100%);
  color: #fff;
  font-size: 1.68rem;
  text-align: center;
}
.registration a {
  color: #fff;
}
.registration .section-title {
  font-weight: 500;
}
.registration .payment-title {
  margin-top: 50px;
  margin-bottom: 15px;
  font-size: 1.5rem;
}
.registration .conf-info {
  line-height: 1.5;
  margin-bottom: 20px;
  text-shadow: 0.5px 0.9px 5.8px rgba(0, 0, 0, 0.29);
  font-family: 'Noto Sans KR', sans-serif;
}
.registration .conf-info em {
  color: #0059ab;
}
.registration .conf-info:last-of-type {
  margin-bottom: 0;
}
.registration .conf-info.notice {
  font-size: 1rem;
}
.registration .payment-info {
  line-height: 1.9rem;
  margin-bottom: 20px;
  font-size: 1.3rem;
}
.registration .account {
  font-size: 1.3rem;
}
.registration .separate-item {
  width: 100%;
}
.registration .separate-item h3 {
  font-size: 1.68rem;
}
.registration .apply-box {
  background-color: rgba(254, 164, 60, .2);
  text-align: center;
}
.registration .cancle-box .sub {
  margin: 30px auto 60px auto;
  text-align: left;
}
.registration .cancle-box .sub a {
  color: #0059ab;
}
.registration .cancle-box .sub li {
  margin-bottom: 10px;
}
.registration .cancle-box .sub ol ol {
  margin-top: 10px;
  padding-left: 30px;
}
.registration .cancle-box .sub ol ol span {
  color: #0059ab;
}
.registration .col {
  width: 600px;
  padding: 50px 25px;
  word-break: keep-all;
  font-size: 1.2rem;
  line-height: 1.4;
  margin: 0 auto;
}
.registration .col .price {
  font-size: 1.68rem;
  margin-bottom: 20px;
  display: block;
  font-weight: bold;
}
.registration .col p {
  margin-bottom: 30px;
}
.registration .col .sub {
  font-size: 1.2rem;
  color: #dfdfdf;
}
.registration .col .sub span {
  color: #0059ab;
}
.registration .apply {
  margin-top: 30px;
}
.location {
  background-image: url("../images/grid_background.png");
  background-size: cover;
  color: #000;
}
.location .location-info {
  font-size: 1.875rem;
  text-align: center;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 63px;
}
.location .location-info em {
  font-weight: 500;
  display: block;
}
.location .location-info em a {
  color: #000;
}
.location ul {
  margin-bottom: 80px;
}
.location ul li {
  font-size: 0;
  float: left;
  width: 32%;
  margin-right: 2%;
}
.location ul li:last-child {
  margin-right: 0;
}
.location ul li img {
  width: 100%;
}
.location #map {
  width: 100%;
  height: 665px;
  margin-bottom: 70px;
}
.location .parking {
  text-align: left;
  font-size: 1.25rem;
  margin-bottom: 25px;
  line-height: 1.6;
}
.button-wrapper {
  text-align: center;
}
.button-wrapper a {
  display: block;
  width: 250px;
  height: 70px;
  line-height: 70px;
  font-size: 1.68rem;
  color: #fff;
  background-color: #0059ab;
  border-radius: 35px;
  margin: 0 auto 35px auto;
}
.button-wrapper a:hover {
  background-color: #bf1630;
}
.personal .sub-title {
  text-align: center;
  font-size: 1.875rem;
  margin-bottom: 110px;
}
.sponsors h3 {
  color: #555;
  text-align: center;
  font-size: 1.68rem;
  margin-bottom: 115px;
}
.sponsors h4 {
  color: #8e8f8f;
  font-size: 1.875rem;
  font-weight: bold;
  margin-bottom: 50px;
}
.sponsors .twinkle {
  text-align: center;
  margin-bottom: 70px;
}
.sponsors .twinkle img {
  vertical-align: middle;
  margin-right: 30px;
  max-width: 100%;
  margin-bottom: 40px;
}
.sponsors .twinkle a:last-of-type img {
  margin-right: 0;
}
.sponsors #ebrain-logo {
  width: 250px;
}
.sponsors #jiandsun-logo {
  width: 150px;
}
.sponsors #gilbut-logo {
  width: 150px;
}
.sponsors #jpub-logo {
  width: 170px;
}
.sponsors .diamond h4 {
  color: #0059ab;
}
.sponsors .gold h4 {
  color: #ffc200;
}
.sponsors .bronze h4 {
  color: #cd7f32;
}
.sponsors .bronze img {
  width: 200px;
  margin-right: 50px;
}
.sponsors .silver h4 {
  color: #c0c0c0;
}
.sponsors .silver img {
  width: 280px;
}
.sponsors .button-wrapper {
  margin-top: 75px;
}
.footer-top {
  background-image: url("../images/footer-top.jpg");
  background-size: cover;
  background-position: center bottom;
  height: 160px;
}
footer {
  background-color: #333;
  padding: 60px;
  text-align: center;
  color: #fff;
}
footer a {
  color: #fff;
}
footer .logo {
  font-size: 1.1rem;
  font-weight: normal;
  position: relative;
}
footer .logo p {
  line-height: 1.3;
  margin-top: 10px;
  font-family: "Exo 2", sans-serif;
}
footer .logo a {
  font-family: "Exo 2", sans-serif;
}
footer .info {
  font-size: 1rem;
}
footer .left {
  float: left;
}
footer .left .item {
  text-align: left;
}
footer .left .item + .item {
  margin-top: 4px;
}
footer .left .ask {
  width: 85px;
  display: inline-block;
  text-align: left;
}
footer .left .history {
  width: 85px;
  display: inline-block;
  text-align: left;
}
footer .right {
  float: right;
}
.apply[disabled=disabled] {
  cursor: not-allowed;
}
.apply {
  position: relative;
  display: block;
  width: 260px;
  height: 72px;
  text-align: center;
  font-size: 1.6rem;
  color: #fff;
  font-weight: bold;
  line-height: 72px;
  margin: 0 auto;
}
.apply svg {
  position: absolute;
  top: 0;
  left: 0;
}
.apply svg rect {
  stroke-width: 6;
  stroke-dasharray: 353, 0;
  stroke-dashoffset: 0;
  -webkit-transition: all 600ms ease;
  transition: all 600ms ease;
}
.apply:hover svg rect {
  stroke-dasharray: 193, 551;
  stroke-dashoffset: 452;
}
.apply span {
  background: linear-gradient(to right, #0059ab 0%, #0059ab 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0059ab', endColorstr='#0059ab',GradientType=1);
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.apply.calendar-apply {
  display: inline-block;
}
.calendar {
  margin-top: 50px;
  text-align: center;
}
.calendar .apply {
  width: 300px;
}
.calendar .apply:hover svg rect {
  stroke-dasharray: 226, 578;
  stroke-dashoffset: 470;
}
.calendar .apply.left {
  margin-right: 20px;
}
.no-svg .apply {
  display: block;
  width: 250px;
  height: 70px;
  line-height: 70px;
  font-size: 1.68rem;
  color: #fff;
  background-color: #2dc0f2;
  border-radius: 35px;
  margin: 0 auto 35px auto;
}
.no-svg .apply svg {
  display: none;
}
.no-svg .apply span {
  background: none !important;
}
@media screen and (max-width : 1024px) {
  html {
    font-size: 13px;
 }
  .inside {
    padding: 50px 30px;
 }
  .keynote .inside {
    padding: 50px 30px;
 }
  .hero {
    height: auto;
 }
  .hero .logo {
    top: 3%;
    left: 5%;
 }
  .hero .logo img {
    width: 70px;
 }
  .hero-caption {
    padding-top: 120px;
 }
  .hero-caption h1 {
    line-height: 1;
    font-size: 2.4rem;
    font-weight: 600;
    margin-bottom: 50px;
    position: relative;
    z-index: 2;
 }
  .hero-caption h1 img {
    display: none;
 }
  .hero-caption h1 span {
    display: block;
 }
  .hero-caption h1 .technology {
    font-size: 2rem;
    margin-bottom: 10px;
    letter-spacing: 0.2rem;
 }
  .hero-caption h1 .developer {
    letter-spacing: 0.3rem;
    position: relative;
 }
  .hero-caption h1 em {
    color: #0059ab;
 }
  .hero-caption .sub-title {
    margin-bottom: 20px;
 }
  .hero-caption .sub-title .conf-title {
    font-size: 3.5rem;
 }
  .hero-caption .sub-title .conf-full-title {
    font-size: 2.2rem;
 }
  .hero-caption .sub-title .conf-desc {
    font-size: 2.7rem;
    margin: 40px auto;
 }
  .hero-caption .sub-title .conf-desc2 {
    font-size: 1.6rem;
 }
  .hero-caption .sub-title .date, .hero-caption .sub-title .place {
    font-size: 1.5rem;
 }
  .about-a {
    background-image: url("../images/grid_background.png");
    background-size: 100%;
    text-align: center;
    word-break: keep-all;
    background: none;
 }
  .about-a .inside {
    padding: 40px 30px;
    text-align: left;
 }
  .about-a.intro .inside{
    padding: 40px 30px;
 }
  .about-a .quote {
    margin-bottom: 40px;
    font-size: 1.5rem;
 }
  .about-a ul li {
    padding-left: 0;
 }
  .about-b .col {
    width: 100%;
    padding: 0;
 }
  .about-b .col:first-child {
    margin-bottom: 80px;
 }
  .about-left-bg {
    background: #fcfcfc !important;
 }
  .target {
    background: none;
 }
  .target .inside {
    padding: 40px 30px;
 }
  .target .inside .description {
    margin-bottom: 12px;
 }
  .target .inside .list li {
    padding: 4px 0px 4px 20px;
 }
  .target .inside .list li::before{
    top: 10px;
 }
  .keynote .row {
    margin-bottom: 60px;
 }
  .keynote .sub-title {
    margin-bottom: 80px;
    font-size: 1.5rem;
    line-height: 1.2;
    display: none;
 }
  .keynote .photo {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
 }
  .keynote .photo:first-child {
    margin-bottom: 20px;
 }
  .keynote .desc {
    width: 100%;
    word-break: keep-all;
    text-align: center;
 }
  .keynote .desc span {
    display: inline;
 }
  .keynote .speaker-about {
    text-align: center;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
 }

  .speakers .row {
    margin-bottom: 60px;
  }
  .speakers .sub-title {
    margin-bottom: 80px;
    font-size: 1.5rem;
    line-height: 1.2;
    display: none;
  }
  .speakers .photo {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  .speakers .photo:first-child {
    margin-bottom: 20px;
  }
  .speakers .desc {
    width: 100%;
    word-break: keep-all;
    text-align: center;
  }
  .speakers .desc span {
    display: inline;
  }
  .speakers .speaker-about {
    text-align: center;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .schedule .session-time {
    width: 100%;
    margin-left: 0;
    margin-bottom: 15px;
 }
  .schedule .session-info {
    width: 100%;
 }
  .schedule .row {
    min-height: 0;
 }
  .schedule .session-title {
    word-break: keep-all;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 10px;
 }
  .schedule .session-desc {
    font-size: 1.3rem;
    word-break: keep-all;
    margin-bottom: 10px;
 }
  .schedule .session-desc span {
    display: inline;
    word-break: keep-all;
 }
  .schedule .session-speaker {
    font-size: 1.3rem;
    line-height: 1.5;
 }
  .schedule h4 {
    font-size: 1.25rem;
    word-break: keep-all;
    line-height: 1.3;
 }
  .registration {
    word-break: keep-all;
 }
  .registration .inside {
    padding-top: 50px;
    padding-bottom: 50px;
 }
  .registration .separate-item {
    width: 100%;
 }
  .registration .col {
    width: 100%;
    font-size: 1.5rem;
    margin-bottom: 0;
    padding: 30px 20px;
 }
  .registration .col .sub {
    font-size: 1.5rem;
 }
  .registration .info {
    height: auto;
 }
  .registration .cancle-box .sub ol ul {
    padding-left: 15px;
 }
  .apply {
    height: auto;
    display: block;
    max-width: 100%;
    padding: 15px 0;
    line-height: normal;
    width: 250px;
    font-size: 1.68rem;
    color: #fff;
    background-color: #0059ab;
    border-radius: 35px;
 }
  .apply svg {
    display: none;
 }
  .apply span {
    -webkit-text-fill-color: #fff;
 }
  .personal .sub-title {
    margin-bottom: 50px;
 }
  .checklist {
    margin-bottom: 0;
 }
  .location .section-title {
    margin-bottom: 50px;
 }
  .location .location-info {
    font-size: 1.4rem;
    word-break: keep-all;
    margin-bottom: 30px;
 }
  .location .location-info em {
    font-size: 1.875rem;
 }
  .location ul {
    display: none;
 }
  .location #map {
    height: 300px;
    margin-bottom: 35px;
 }
  .location .parking {
    word-break: keep-all;
 }
  .sponsors h3 {
    margin-bottom: 70px;
 }
  .sponsors h4 {
    margin-bottom: 30px;
 }
  .sponsors .twinkle img {
    max-width: 100%;
 }
  .button-wrapper a {
    height: auto;
    display: block;
    max-width: 100%;
    padding: 15px 0;
    line-height: normal;
 }
  .footer-top {
    display: none;
 }
  footer {
    text-align: left;
    padding: 50px 30px;
 }
  footer .logo {
    margin-bottom: 30px;
    font-size: 1.5rem;
 }
  footer .logo img {
    width: 170px;
 }
  footer .logo:before {
    display: none;
 }
  footer .left .item + .item {
    margin-top: 12px;
 }
  footer .left, footer .right {
    float: none;
    margin-bottom: 30px;
    line-height: 1.3;
    word-break: keep-all;
 }
  footer .left .ask {
    display: block;
    margin-bottom: 10px;
 }
  footer .left .history {
    display: block;
    margin-bottom: 10px;
 }
  footer .right span {
    display: block;
 }
  footer .info {
    font-size: 1.5rem;
 }
  .calendar {
    margin-top: 30px;
 }
  .calendar .apply {
    margin-top: 10px;
 }
  .calendar .apply.left {
    margin-right: 0;
 }
  .registration .col {
  width: 100%;
 }
}
.boldd {
  font-weight: bold;
}
@media screen and (max-width : 620px) {
  html {
    font-size: 10px;
 }
 .hero::after {
  	background: radial-gradient(circle, #0059ab 55%, #272727 100%);
 }
  .about-a .whatfor span {
    display: inline;
 }
  .about-a ul {
    width: 300px;
 }
  .schedule .row {
    padding-left: 30px;
 }
  .speakers .speaker-about {
    max-width: 100%;
    font-size: 1.5rem;
 }
  .speakers .speaker, .speakers .company {
    font-size: 1.5rem;
 }
  .sponsors .twinkle img {
    margin-right: 0;
 }
  .sponsors .twinkle #hanbit {
    margin-top: 0;
 }
  .sponsors .twinkle a {
    display: block;
 }
  .registration .conf-info.notice {
    text-align: left;
 }
  .registration .payment-title {
    margin-top: 30px;
    margin-bottom: 10px;
 }
  .calendar {
    margin-top: 30px;
 }
  .calendar .apply {
    margin-top: 10px;
 }
  .calendar .apply.left {
    margin-right: 0;
 }
}
@media screen and (min-width: 321px) and (max-width: 368px) {
  .hero-caption h1 {
    font-size: 2.5rem;
 }
}
@media screen and (max-width : 320px) {
  html {
    font-size: 9px;
 }
  .hero-caption h1 {
    font-size: 2.2rem;
 }
  .about-a ul {
    width: auto;
 }
}
